{% extends "PUFPlatformBundle:Default:catalogue.html.twig" %}

{% block chercherResultat %}	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form role="form" method="POST" class="form-inline">
				<div class="form-group">
					<input type="text" name="chercher_value" class="form-control"/>
					<button type="submit" class="btn btn-success">
						Submit
					</button>
				</div>
			</form>
			</br>
			<table class="table">
				<thead>
					<tr>
						<th>
							Genre
						</th>
					</tr>
				</thead>
				<tbody>
					{% for liste in query %}
					<tr>
						<td>
							{{ liste.libelleAbrege }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}