{% extends "PUFPlatformBundle::layout.html.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/framework/css/catalogue.css') }}">  
{% endblock %}

{% block menubar %}
<div class="navbar-collapse collapse" id="navbar-collapsible">
	<ul class="nav navbar-nav navbar-left">
		<li><a href="{{ path('puf_platform_homepage') }}">Accueil</a></li>
		<li>			
			<a data-toggle="dropdown">Recherche
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
			   <li><a href="#">Interpreter</a></li>
			   <li><a href="#">Musicien</a></li>
			   <li><a href="#">Composer</a></li>
			   <li><a href="{{ path('chercher_route') }}">Pays</a></li>
			</ul>
			
		</li>
		
	</ul>       
	<ul class="nav navbar-nav navbar-right">
		<li><a href="#" data-toggle="modal" data-target="#sigupModal">S'inscrire</a></li>
		<li><a href="#" data-toggle="modal" data-target="#loginModal">Connexion</a></li>

	</ul>
</div><!-- /.navbar-collapse -->

</div>
{% endblock %}

{% block chercherResultat %}
<div>
	<ul>
	  {% for pays in query%}
	    <li>{{ pays.nomPays }}</li>
	  {% endfor %}
	</ul>
</div>
{% endblock %}

