{% extends "PUFPlatformBundle::layout.html.twig" %}
{% block section1 %}
  <section class="container-fluid" id="section1">
    <div class="v-center">
      <h1 class="text-center">Soyez prêt</h1>
      <h2 class="text-center lato animate slideInDown">et laisser la musique <b>vous détendre</b></h2>
      <p class="text-center">
        <br>
        <!-- <a href="{{ path('catalogue_route') }}" class="btn btn-danger btn-lg btn-huge lato">Connecter pour voir notre catalogue</a> -->
        <a href="#" class="btn btn-danger btn-lg btn-huge lato" data-toggle="modal" data-target="#loginModal">Connecter pour voir notre catalogue</a>
      </p>
    </div>
    <a href="#section2">
      <div class="scroll-down bounceInDown animated">
        <span>
          <i class="fa fa-angle-down fa-2x"></i>
        </span>
      </div>
    </a>
  </section>
{% endblock %}

{% block section2 %}
  <section class="container-fluid" id="section2">
    <h1 class="text-center">Notre projet web côté server</h1>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h3 class="text-center lato slideInUp animate">Professeur: <strong>M.Patrick FELIX</strong></h3>
        <h3 class="text-center lato slideInUp animate">Chargé de TD: <strong>M.The Nhan LUONG</strong></h3>
        <br>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-1"><h4>Ce site est le résultat de notre projet du cours Programmation Web Server. Le travail a terminé le 08/08/2015.</h4></div>
          <div class="col-xs-2"></div>
          <div class="col-xs-4 text-right"><h4>Le site est développé sous forme d'un site de commerce en ligne qui vous présente un catalogue des albums de la musique classique disponible.</h4></div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1"><h4 class="text-center">Nous sommes deux personnes par groupe.<br> Une personne s'occupe la conception des pages HTML et l'autre assume la communication avec la Base de données.</h4></div>
        </div>

      </div>
    </div>
    <a href="#section3">
      <div class="scroll-down bounceInDown animated">
        <span>
          <i class="fa fa-angle-down fa-2x"></i>
        </span>
      </div>
    </a>
  </section>
{% endblock %}

{% block section3 %}
<section class="container-fluid" id="section3">
  <div class="container v-center">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12 text-center">
            <div class="panel panel-default slideInLeft animate">
              <div class="panel-heading">
                <h3>DOAN Ngoc Long</h3></div>
                <div class="panel-body">
                  <h4>Programmer le back-office du site</h4>
                  <hr>LINF13 - PUFHCM
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 text-center">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="panel panel-default slideInUp animate">
                <div class="panel-heading">
                  <h3>MAI Trung Hieu</h3></div>
                  <div class="panel-body">
                    <h4>Concevoir le font-office du site</h4>
                    <hr>LINF13 - PUFHCM
                    <hr>
                  </div>
                </div>
              </div>
            </div>
          </div>            
        </div>
        <!--/row-->
        <div class="row">
          <br>
        </div>
      </div>
      <!--/container-->
    </section>
{% endblock %}

{% block scrollup %}
  <div class="scroll-up">
    <a href="#"><i class="fa fa-angle-up"></i></a>
  </div>
{% endblock %}