{% extends "PUFPlatformBundle::layout.html.twig" %}

{% block navbar %}  
<nav class="navbar navbar-trans" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-danger" href="#">MUSIQUE CLASSIQUE</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav navbar-left">  
                <li><a href="{{ path('puf_platform_homepage') }}">Accueil</a></li>
                      
            </ul>       
            <ul class="nav navbar-nav navbar-right">
                <li></li>
                <li></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>    
</nav>
{% endblock %}

{% block section1 %}
<div class="container">
    <h2 class="text-center">Bienvenue {{newuser.nomAbonne}} !</h2>
    <h2 class="text-center">Votre compte a été crée, veuillez connecter pour continuer!</h2>
</div>
{% endblock %}

{% block loginModal %}  
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="text-center">Connexion</h1>
      </div>
      <div class="modal-body">
        <h5 class="text-center">COMPLÉTER LES CHAMPS SUIVANTS POUR CONNECTER</h5>
        <form role="form" method="post" class="form col-md-12 center-block">
          <div class="form-group">
            <input id="username" name="username" type="text" class="form-control input-lg" placeholder="Nom d'utilisateur">
          </div>
          <div class="form-group">
            <input id="password" name="password" type="password" class="form-control input-lg" placeholder="Mot de passe">
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block" id="btn_login" name="btn_login">Connecter</button>
            <span class="pull-right"><a href="#">S'inscire</a></span><span><a href="#">Besoin d'aide?</a></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
        </div>  
      </div>
    </div>
  </div>
</div>
{% endblock %}